<!DOCTYPE html>
<html>
<head>
<link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,80" rel="stylesheet" type="text/css" />
<link href="scoreboard.css" rel="stylesheet" />
<script src="components/jquery/dist/jquery.min.js"></script>
<script src="components/gsap/src/minified/plugins/TextPlugin.min.js"></script>
<script src="components/gsap/src/minified/TweenMax.min.js"></script>
<script src="components/gsap/src/minified/TimelineLite.min.js"></script>
<script src="components/moment/min/moment.min.js"></script>
<script src="/view/scoreboard/moment-duration-format.js"></script>
<script src="scoreboard.js"></script>
<script src="/viewsetup.js"></script>
</head>

<body>
<div id="container">
	<div id="scoreboard">
        <div id="set">
        	<div id="set-font">
            </div>
        </div>
        <div id="away-team-name">
        	<div id="away-team-font">
            </div>
        </div>
        <div id="away-team-score">
        	<div id="away-team-score-font">
            </div>
        </div>
        <div id="home-team-name">
        	<div id="home-team-font">
            </div>
        </div>
        <div id="home-team-score">
        	<div id="home-team-score-font">
            </div>
        </div>
    </div>

</div>
</body>
</html>
